/src/FilsDeBerger.userprefs
/src/FilsDeBerger/FilsDeBerger.userprefs
/src/FilsDeBerger/FilsDeBerger.pidb
/src/FilsDeBerger/bin/Debug/FilsDeBerger.exe.mdb
/src/FilsDeBerger/bin/Debug/FilsDeBerger.exe
/src/FilsDeBerger/bin/Debug/FilsDeBerger.pdb
/src/FilsDeBerger/bin/Debug/FilsDeBerger.vshost.exe
/src/FilsDeBerger/bin/Debug/Tao.Sdl.dll.config
/src/FilsDeBerger/bin/Debug/Tao.Sdl.dll
/src/FilsDeBerger/bin/Debug/SdlDotNet.dll.config
/src/FilsDeBerger/bin/Debug/SdlDotNet.dll
/src/FilsDeBerger/bin/Debug/hero.png
/src/FilsDeBerger/bin/Debug/FilsDeBerger.vshost.exe.manifest
/src/FilsDeBerger/obj/x86/Debug/FilsDeBerger.csproj.FileListAbsolute.txt
/src/FilsDeBerger/obj/x86/Debug/FilsDeBerger.exe
/src/FilsDeBerger/obj/x86/Debug/FilsDeBerger.pdb
/src/FilsDeBerger/obj/x86/Debug/ResolveAssemblyReference.cache
/src/FilsDeBerger.suo
